<div id="vid_items" style="display:none;">

<%= link_to download_path, :remote => true do %>
	<span id="download"> Download </span>
<% end %>
<%= link_to "#", :id => "share", :remote => true do %>
	<span id="sharebuts"> Share </span>
<% end %>
<%= link_to "#", :id => "toggle_add", :remote => true do %>
	<span id="addtolist"> Add to Playlist </span>
<% end %>

<div id="add_lists" style="display:none;">
<% current_user.playlists.each do |playlist| %>

  <%= button_to playlist.name, search_to_list_path(:id => playlist.id), :remote => true %>

<% end %>
</div>

</div>
<div id="share_buttons" style="display:none;">
	<%= render "shared/share_buttons" %>
</div>

<script>
$("#share").click(function() { 
    $("#share_buttons").toggle();
});

$("#toggle_add").click(function() {
	$("#add_lists").toggle();
});
</script>