<%= render 'playlists/form' %>
<div id="play_search_results">
  <%= render 'playlists/search_results' %>
</div>
<div id="main_vid_title"></div>
<div class="span4" id="main_vid"></div>
<div id="other_list_content"></div>
  <%= render 'playlists/new' %>
<div id="my_playlist">
  <%= render 'playlists/index' %>
</div>
<div id="suggestions"></div>
<div id="list_content">
  <%= render 'shared/init_list' %>
</div>