<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @playlist.name %>
</p>

<p>
  <b>Cur play:</b>
  <%= @playlist.cur_play %>
</p>

<p>
  <b>Position:</b>
  <%= @playlist.position %>
</p>


<%= link_to 'Edit', edit_playlist_path(@playlist) %> |
<%= link_to 'Back', playlists_path %>
